body {
    background-color: green;
}



.bgText {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    color:white
}

#aasTitle {
    margin-bottom: 3px
}

.tabs {
    display: flex;
    text-align:center;
    table-layout: fixed;
}

.tab {
    text-align: center;
    width:100%;
    padding: 10px;
    /*margin-left:50px;*/
    background-color:white;
    border: 2px solid black;
    border-bottom: 0px;
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic
}

.highlight {
    background-color:dimgray;
    color:white
}

#scoreTab {
    margin-left: 60px;
    margin-right: -1px;
}

#aboutTab {
    margin-right: 60px;
    margin-left: -1px;
}

.main {
    background-color:burlywood;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:0px;
    margin-left:50px;
    margin-right:50px;
    border:2px solid black;
    text-align: center;
}

.scoreboard {
    text-align: center; 
    width:100%;
    table-layout: fixed;
    /* white-space: nowrap; */
}

.teamScores {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 200px;
}

.teams {
    font-family:Arial, Helvetica, sans-serif;
    font-size:50px
}

.lScoreBtns {
    height: 75px;
    width: 75px;
    background-color: darkred;
    color:white;
    font-size: 20px;
    border-color: red;
}

.wScoreBtns {
    height: 75px;
    width: 75px;
    background-color: green;
    color:white;
    font-size: 20px;
    border-color:greenyellow
}

#gitlink {
    color: white
}